YiKe.Backend/workspace/
YiKe.Backend/output/
YiKe.Backend/build/
YiKe.Backend/dist/
YiKe.Backend/.venv/
assets/ecdict.db
*.spec.bak
__pycache__/
*.pyc
YiKe.Desktop/bin/
YiKe.Desktop/obj/
YiKe.Desktop/publish/
output/
build/
